@charset "UTF-8";

/*navibar start */
.nav{
	height : 70px;
	display : flex;
	border-bottom : 1px solid black;
	align-items : center;
}

.nav-right-items{
	margin-left : auto;
	display :flex;

}

.nav-item{
	margin-left : 10px;
}
/*end*/


body
{
	margin:0;
	padding:0;
	font-family:sans-serif;

}

.sign-in-form
{
	width: 450px;
	box-shadow: 0 0 3px 0 rgba(0,0,0,0.3);
	background: #fff;
	padding: 20px;
	margin-top : 130px;
	margin : 8% auto 0;
	text-align: center;
}

.sign-in-form h1
{
	color: #1c8adb;
	margin-bottom: 30px;
}

.input-box
{
	border-radius: 20px;
	padding: 10px;
	margin: 10px 0;
	width: 90%;
	border: 1px solid #999;
	outline: none;
}

button
{
	color: #FFF;
	width: 30%;
	padding: 10px;
	border-radius: 20px;
	font-size: 14px;
	margin: 10px 0;
	border: none;
	outline: none;
	cursor: pointer;
	background-color: #008000;
}
