<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.jew.mapper.LoginMapper">
	
	<select id="login" resultType="com.jew.domain.Member">
		select 
			user_id,
			user_pw,
			authstatus
		from member
		where user_id=#{userId} and user_pw=#{userPw}
	</select>
	
	<select id="accountchk" resultType="com.jew.domain.Member">
		select
			user_id,
			user_pw
			authstatus
		from member
		where user_id=#{userId}
	</select>

</mapper>


