<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.jew.mapper.MemberMapper">

	<insert id="create" >
		insert into member
			(
				user_id,
				user_pw,
				user_name,
				job,
				user_mail,
				user_birth,
				hobby
			)
		values(
			#{userId},
			#{userPw},
			#{userName},
			#{job},
			#{userMail},
			#{userBirth},
			#{hobby}
		    )
	</insert>
	
	<insert id="setAdmin">
		insert into member_auth(
				user_id, 
				auth
		)values(
				#{userId}, 
				#{auth}
		)
	</insert>
	
	<select id="countAll" resultType="Int">
		select count(*)
		from member
	</select>
	
	<select id="detail" resultType="com.jew.domain.Member">	
		select 
			user_id,
			user_pw,
			user_name,
			job,
			user_mail,
			user_birth,
			hobby
		from
			member
		where 
			user_id=#{userId}
	</select>

	<update id="update">
		update member
		 set   user_pw= #{userPw},
		 	   user_name= #{userName},
		 	   job=#{job},
		 	   user_mail=#{userMail},
		 	   user_birth=#{userBirth},
			   hobby=#{hobby}
		
		where user_id=#{userId} 		   
	</update>
	
	<delete id="delete">
		delete
		from member
		where user_id=#{userId}
	</delete>
	
	<select id="idChk" resultType="String">
		select
			 user_id
		from 
			member
		where 
			user_id=#{userId}
	</select>
	
	<update id="verify">
	 update member
	 set authstatus=1
	 where user_mail=#{userMail}
	</update>
</mapper>


